<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>18/01/22 21:26:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.verify_registeration()[pri:0, instance:org.pom.practice.Amazon.Test1@5b275dab]">verify_registeration</td> 
  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>18/01/22 21:26:38</td>   <td>13281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.verify_login()[pri:1, instance:org.pom.practice.Amazon.Test1@5b275dab]">verify_login</td> 
  <td>main@1454127753</td>   <td></td> </tr>
</table>
